@page "/"
<h2>This is a CRUD Application</h2>
<p>This application provides the capability to perform CRUD (Create, Read, Update, Delete) operations for users, articles, and offers. You can easily create new users, add interesting articles, submit offers, and much more. The intuitive interface allows you to manage data seamlessly, and built-in error handling mechanisms make using this application straightforward and convenient.</p>
<p>Create, update, and delete records, keep track of the latest data, and enjoy the ease of working with this web application. Your experience in interacting with data becomes even more convenient thanks to the user-friendly interface and functional capabilities provided by this CRUD application.</p>
@code {
    
}
